<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d208.fitmily.health.mapper.HealthMapper">

    <insert id="insertHealth"
            parameterType="com.d208.fitmily.health.entity.Health"
            useGeneratedKeys="true"
            keyProperty="healthId">
        INSERT INTO health(
        user_id, health_bmi, health_height, health_weight, health_body_fat_percentage, health_disease)
        VALUES(
        #{userId}, #{healthBmi}, #{healthHeight}, #{healthWeight}, #{healthBodyFatPercentage}, #{healthDisease})
    </insert>

    <select id="selectLatestByUserId"
            parameterType="int"
            resultType="com.d208.fitmily.health.entity.Health">
        SELECT
        health_id, user_id, health_bmi, health_height, health_weight, health_body_fat_percentage, health_disease, health_created_at, health_updated_at
        FROM health
        WHERE user_id = #{userId}
    </select>



</mapper>