<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d208.fitmily.fcm.mapper.UserDeviceMapper">
    <select id="selectActiveFCMTokensByUserIds" resultType="java.util.Map">
        SELECT
        user_id AS userId,
        fcm_token AS token
        FROM
        user_devices
        WHERE
        user_id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        AND fcm_token IS NOT NULL
    </select>
</mapper>