<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d208.fitmily.walk.mapper.WalkMapper">

<!-- useGeneratedKeys = pk   -->
    <insert id="insertStopWalk"
            parameterType="Walk"
            useGeneratedKeys="true"
            keyProperty="walkId">
        INSERT INTO walk (
        exercise_goal_id,
        user_id,
        walk_route_img,
        walk_start_time,
        walk_end_time,
        walk_distance,
        walk_heart_rate,
        step_count
        ) VALUES (
        #{exerciseGoalId},
        #{userId},
        #{walkRouteImg},
        #{walkStartTime},
        #{walkEndTime},
        #{walkDistance},
        #{walkHeartRate},
        #{stepCount}
        )
    </insert>

</mapper>