<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d208.fitmily.walk.mapper.WalkMapper">

<!--parameterType 는 {} 으로 넘길데이터의 type임 -->


    <insert id="insertStopWalk"
            parameterType="Walk"
            useGeneratedKeys="true"
            keyProperty="walkId">
        INSERT INTO walk (
        user_id, walk_route_img, walk_start_time, walk_end_time, walk_distance, walk_heart_rate)
        VALUES(
        #{userId}, #{walkRouteImg}, #{walkStartTime}, #{walkEndTime}, #{walkDistance}, #{walkHeartRate})
    </insert>

    <select id="selectWalks"
            parameterType="map"
            resultType="com.d208.fitmily.walk.entity.Walk">
        SELECT
        walk_id, user_id, exercise_goal_id, walk_route_img, walk_start_time, walk_end_time, walk_distance, walk_heart_rate,
        walk_calories, step_count, walk_created_at, walk_updated_at
        FROM walk

<!-- "&gt;" 이게  ">" 이거임 -->
<!-- "&lt;" 이게  "<" 이거임 -->
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="start != null">
                AND walk_start_time &gt;= #{start}
            </if>
            <if test="end != null">
                AND walk_end_time &lt;= #{end}
            </if>
        </where>
        ORDER BY walk_start_time DESC
    </select>





</mapper>