<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d208.fitmily.domain.walk.mapper.WalkMapper">

<!--parameterType 는 {} 으로 넘길데이터의 type임 -->


<!--    <insert id="insertStopWalk"-->
<!--            parameterType="com.d208.fitmily.domain.walk.dto.StopWalkDto"-->
<!--            useGeneratedKeys="true"-->
<!--            keyProperty="walkId">-->
<!--        INSERT INTO walk (-->
<!--        user_id, walk_route_img, walk_start_time, walk_end_time, walk_distance, walk_calories )-->
<!--        VALUES(-->
<!--        #{userId}, #{routeImg}, #{startTime}, #{endTime},#{distance}, #{calories})-->
<!--    </insert>-->


<!--    <select id="selectWalks"-->
<!--            parameterType="map"-->
<!--            resultType="com.d208.fitmily.domain.walk.dto.WalkResponseDto">-->
<!--        SELECT-->
<!--        w.walk_id, w.user_id, u.user_nickname, w.walk_route_img, w.walk_start_time, w.walk_end_time, w.walk_distance,-->
<!--        w.walk_calories FROM walk w-->
<!--        LEFT JOIN user u-->
<!--        ON u.user_id = w.user_id-->
<!--        <where>-->
<!--            <if test="userId != null">-->
<!--                AND w.user_id = #{userId}-->
<!--            </if>-->
<!--            <if test="start != null"><![CDATA[-->
<!--        AND w.walk_start_time >= #{start}-->
<!--      ]]></if>-->
<!--            <if test="end != null"><![CDATA[-->
<!--        AND w.walk_end_time   <= #{end}-->
<!--      ]]></if>-->
<!--        </where>-->
<!--        ORDER BY w.walk_start_time DESC-->
<!--    </select>-->

<!--&lt;!&ndash; CURDATE() 는서버의 현재 날짜 불러옴&ndash;&gt;-->
<!--    <select id="walkGoalExists"-->
<!--            parameterType="int"-->
<!--            resultType="boolean">-->
<!--        SELECT-->
<!--        EXISTS (SELECT 1-->
<!--                FROM exercise_goal-->
<!--                WHERE user_id = #{userId} AND exercise_goal_name = 'walk' AND DATE(exercise_goal_created_at) = CURDATE()-->
<!--                )-->
<!--    </select>-->


</mapper>